.is-Alert .is-Alert-link {
  font-weight: bold;
}

.is-Alert_Success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.is-Alert_Success hr {
  border-top-color: #c9e2b3;
}

.is-Alert_Success .is-Alert-link {
  color: #2b542c;
}

.is-Alert_Info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.is-Alert_Info hr {
  border-top-color: #a6e1ec;
}

.is-Alert_Info .is-Alert-link {
  color: #245269;
}

.is-Alert_Warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.is-Alert_Warning hr {
  border-top-color: #f7e1b5;
}

.is-Alert_Warning .is-Alert-link {
  color: #66512c;
}

.is-Alert_Danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.is-Alert_Danger hr {
  border-top-color: #e4b9c0;
}

.is-Alert_Danger .is-Alert-link {
  color: #843534;
}

.is-datetimepicker-btn {
  font-size: 14px;
  font-weight: normal;
}

.is-datetimepicker-btn:hover, .is-datetimepicker-btn:focus, .is-datetimepicker-btn.focus {
  color: #333;
}

.is-datetimepicker-btn:active, .is-datetimepicker-btn.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.is-datetimepicker-btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #d4d4d4;
}

.is-datetimepicker-btn-default:focus, .is-datetimepicker-btn-default.focus {
  color: #333;
  background-color: #d2d2d2;
  border-color: #949494;
}

.is-datetimepicker-btn-default:hover {
  color: #333;
  background-color: #d2d2d2;
  border-color: #b5b5b5;
}

.is-datetimepicker-btn-default:active, .is-datetimepicker-btn-default.active,
.open > .is-datetimepicker-btn-default.dropdown-toggle {
  color: #333;
  background-color: #d2d2d2;
  border-color: #b5b5b5;
}

.is-datetimepicker-btn-default:active:hover, .is-datetimepicker-btn-default:active:focus, .is-datetimepicker-btn-default:active.focus, .is-datetimepicker-btn-default.active:hover, .is-datetimepicker-btn-default.active:focus, .is-datetimepicker-btn-default.active.focus,
.open > .is-datetimepicker-btn-default.dropdown-toggle:hover,
.open > .is-datetimepicker-btn-default.dropdown-toggle:focus,
.open > .is-datetimepicker-btn-default.dropdown-toggle.focus {
  color: #333;
  background-color: silver;
  border-color: #949494;
}

.is-datetimepicker-btn-default:active, .is-datetimepicker-btn-default.active,
.open > .is-datetimepicker-btn-default.dropdown-toggle {
  background-image: none;
}

.is-datetimepicker-btn-default.disabled:hover, .is-datetimepicker-btn-default.disabled:focus, .is-datetimepicker-btn-default.disabled.focus, .is-datetimepicker-btn-default[disabled]:hover, .is-datetimepicker-btn-default[disabled]:focus, .is-datetimepicker-btn-default[disabled].focus,
fieldset[disabled] .is-datetimepicker-btn-default:hover,
fieldset[disabled] .is-datetimepicker-btn-default:focus,
fieldset[disabled] .is-datetimepicker-btn-default.focus {
  background-color: #ebebeb;
  border-color: #d4d4d4;
}

.is-datetimepicker-btn-default .badge {
  color: #ebebeb;
  background-color: #333;
}

.is-datetimepicker-btn-primary {
  color: #fff;
  background-color: #312e54;
  border-color: #272544;
}

.is-datetimepicker-btn-primary:focus, .is-datetimepicker-btn-primary.focus {
  color: #fff;
  background-color: #1e1c33;
  border-color: black;
}

.is-datetimepicker-btn-primary:hover {
  color: #fff;
  background-color: #1e1c33;
  border-color: #100f1c;
}

.is-datetimepicker-btn-primary:active, .is-datetimepicker-btn-primary.active,
.open > .is-datetimepicker-btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1e1c33;
  border-color: #100f1c;
}

.is-datetimepicker-btn-primary:active:hover, .is-datetimepicker-btn-primary:active:focus, .is-datetimepicker-btn-primary:active.focus, .is-datetimepicker-btn-primary.active:hover, .is-datetimepicker-btn-primary.active:focus, .is-datetimepicker-btn-primary.active.focus,
.open > .is-datetimepicker-btn-primary.dropdown-toggle:hover,
.open > .is-datetimepicker-btn-primary.dropdown-toggle:focus,
.open > .is-datetimepicker-btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #100f1c;
  border-color: black;
}

.is-datetimepicker-btn-primary:active, .is-datetimepicker-btn-primary.active,
.open > .is-datetimepicker-btn-primary.dropdown-toggle {
  background-image: none;
}

.is-datetimepicker-btn-primary.disabled:hover, .is-datetimepicker-btn-primary.disabled:focus, .is-datetimepicker-btn-primary.disabled.focus, .is-datetimepicker-btn-primary[disabled]:hover, .is-datetimepicker-btn-primary[disabled]:focus, .is-datetimepicker-btn-primary[disabled].focus,
fieldset[disabled] .is-datetimepicker-btn-primary:hover,
fieldset[disabled] .is-datetimepicker-btn-primary:focus,
fieldset[disabled] .is-datetimepicker-btn-primary.focus {
  background-color: #312e54;
  border-color: #272544;
}

.is-datetimepicker-btn-primary .badge {
  color: #312e54;
  background-color: #fff;
}

.is-datetimepicker-btn-success {
  color: #fff;
  background-color: #312e54;
  border-color: #272544;
}

.is-datetimepicker-btn-success:focus, .is-datetimepicker-btn-success.focus {
  color: #fff;
  background-color: #1e1c33;
  border-color: black;
}

.is-datetimepicker-btn-success:hover {
  color: #fff;
  background-color: #1e1c33;
  border-color: #100f1c;
}

.is-datetimepicker-btn-success:active, .is-datetimepicker-btn-success.active,
.open > .is-datetimepicker-btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e1c33;
  border-color: #100f1c;
}

.is-datetimepicker-btn-success:active:hover, .is-datetimepicker-btn-success:active:focus, .is-datetimepicker-btn-success:active.focus, .is-datetimepicker-btn-success.active:hover, .is-datetimepicker-btn-success.active:focus, .is-datetimepicker-btn-success.active.focus,
.open > .is-datetimepicker-btn-success.dropdown-toggle:hover,
.open > .is-datetimepicker-btn-success.dropdown-toggle:focus,
.open > .is-datetimepicker-btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #100f1c;
  border-color: black;
}

.is-datetimepicker-btn-success:active, .is-datetimepicker-btn-success.active,
.open > .is-datetimepicker-btn-success.dropdown-toggle {
  background-image: none;
}

.is-datetimepicker-btn-success.disabled:hover, .is-datetimepicker-btn-success.disabled:focus, .is-datetimepicker-btn-success.disabled.focus, .is-datetimepicker-btn-success[disabled]:hover, .is-datetimepicker-btn-success[disabled]:focus, .is-datetimepicker-btn-success[disabled].focus,
fieldset[disabled] .is-datetimepicker-btn-success:hover,
fieldset[disabled] .is-datetimepicker-btn-success:focus,
fieldset[disabled] .is-datetimepicker-btn-success.focus {
  background-color: #312e54;
  border-color: #272544;
}

.is-datetimepicker-btn-success .badge {
  color: #312e54;
  background-color: #fff;
}

.is-datetimepicker-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.is-datetimepicker-btn-info:focus, .is-datetimepicker-btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}

.is-datetimepicker-btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.is-datetimepicker-btn-info:active, .is-datetimepicker-btn-info.active,
.open > .is-datetimepicker-btn-info.dropdown-toggle {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.is-datetimepicker-btn-info:active:hover, .is-datetimepicker-btn-info:active:focus, .is-datetimepicker-btn-info:active.focus, .is-datetimepicker-btn-info.active:hover, .is-datetimepicker-btn-info.active:focus, .is-datetimepicker-btn-info.active.focus,
.open > .is-datetimepicker-btn-info.dropdown-toggle:hover,
.open > .is-datetimepicker-btn-info.dropdown-toggle:focus,
.open > .is-datetimepicker-btn-info.dropdown-toggle.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}

.is-datetimepicker-btn-info:active, .is-datetimepicker-btn-info.active,
.open > .is-datetimepicker-btn-info.dropdown-toggle {
  background-image: none;
}

.is-datetimepicker-btn-info.disabled:hover, .is-datetimepicker-btn-info.disabled:focus, .is-datetimepicker-btn-info.disabled.focus, .is-datetimepicker-btn-info[disabled]:hover, .is-datetimepicker-btn-info[disabled]:focus, .is-datetimepicker-btn-info[disabled].focus,
fieldset[disabled] .is-datetimepicker-btn-info:hover,
fieldset[disabled] .is-datetimepicker-btn-info:focus,
fieldset[disabled] .is-datetimepicker-btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.is-datetimepicker-btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

.is-datetimepicker-btn-warning {
  color: #fff;
  background-color: #fbc333;
  border-color: #fbbc1a;
}

.is-datetimepicker-btn-warning:focus, .is-datetimepicker-btn-warning.focus {
  color: #fff;
  background-color: #f6b305;
  border-color: #926a03;
}

.is-datetimepicker-btn-warning:hover {
  color: #fff;
  background-color: #f6b305;
  border-color: #d39904;
}

.is-datetimepicker-btn-warning:active, .is-datetimepicker-btn-warning.active,
.open > .is-datetimepicker-btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #f6b305;
  border-color: #d39904;
}

.is-datetimepicker-btn-warning:active:hover, .is-datetimepicker-btn-warning:active:focus, .is-datetimepicker-btn-warning:active.focus, .is-datetimepicker-btn-warning.active:hover, .is-datetimepicker-btn-warning.active:focus, .is-datetimepicker-btn-warning.active.focus,
.open > .is-datetimepicker-btn-warning.dropdown-toggle:hover,
.open > .is-datetimepicker-btn-warning.dropdown-toggle:focus,
.open > .is-datetimepicker-btn-warning.dropdown-toggle.focus {
  color: #fff;
  background-color: #d39904;
  border-color: #926a03;
}

.is-datetimepicker-btn-warning:active, .is-datetimepicker-btn-warning.active,
.open > .is-datetimepicker-btn-warning.dropdown-toggle {
  background-image: none;
}

.is-datetimepicker-btn-warning.disabled:hover, .is-datetimepicker-btn-warning.disabled:focus, .is-datetimepicker-btn-warning.disabled.focus, .is-datetimepicker-btn-warning[disabled]:hover, .is-datetimepicker-btn-warning[disabled]:focus, .is-datetimepicker-btn-warning[disabled].focus,
fieldset[disabled] .is-datetimepicker-btn-warning:hover,
fieldset[disabled] .is-datetimepicker-btn-warning:focus,
fieldset[disabled] .is-datetimepicker-btn-warning.focus {
  background-color: #fbc333;
  border-color: #fbbc1a;
}

.is-datetimepicker-btn-warning .badge {
  color: #fbc333;
  background-color: #fff;
}

.is-datetimepicker-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.is-datetimepicker-btn-danger:focus, .is-datetimepicker-btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}

.is-datetimepicker-btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.is-datetimepicker-btn-danger:active, .is-datetimepicker-btn-danger.active,
.open > .is-datetimepicker-btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.is-datetimepicker-btn-danger:active:hover, .is-datetimepicker-btn-danger:active:focus, .is-datetimepicker-btn-danger:active.focus, .is-datetimepicker-btn-danger.active:hover, .is-datetimepicker-btn-danger.active:focus, .is-datetimepicker-btn-danger.active.focus,
.open > .is-datetimepicker-btn-danger.dropdown-toggle:hover,
.open > .is-datetimepicker-btn-danger.dropdown-toggle:focus,
.open > .is-datetimepicker-btn-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}

.is-datetimepicker-btn-danger:active, .is-datetimepicker-btn-danger.active,
.open > .is-datetimepicker-btn-danger.dropdown-toggle {
  background-image: none;
}

.is-datetimepicker-btn-danger.disabled:hover, .is-datetimepicker-btn-danger.disabled:focus, .is-datetimepicker-btn-danger.disabled.focus, .is-datetimepicker-btn-danger[disabled]:hover, .is-datetimepicker-btn-danger[disabled]:focus, .is-datetimepicker-btn-danger[disabled].focus,
fieldset[disabled] .is-datetimepicker-btn-danger:hover,
fieldset[disabled] .is-datetimepicker-btn-danger:focus,
fieldset[disabled] .is-datetimepicker-btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.is-datetimepicker-btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

.is-datetimepicker-btn-link {
  color: #272544;
  font-weight: normal;
}

.is-datetimepicker-btn-link:hover, .is-datetimepicker-btn-link:focus {
  color: #0b0a12;
}

.is-datetimepicker-btn-link[disabled]:hover, .is-datetimepicker-btn-link[disabled]:focus,
fieldset[disabled] .is-datetimepicker-btn-link:hover,
fieldset[disabled] .is-datetimepicker-btn-link:focus {
  color: #7e7e7e;
}

.is-datetimepicker-btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.is-datetimepicker-btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.is-datetimepicker-btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.is-datetimepicker-widget.is-dropdown-menu.is-bottom:before {
  border-bottom-color: #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.is-datetimepicker-widget.is-dropdown-menu.is-bottom:after {
  border-bottom-color: white;
}

.is-datetimepicker-widget.is-dropdown-menu.is-top:before {
  border-top-color: #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.is-datetimepicker-widget.is-dropdown-menu.is-top:after {
  border-top-color: white;
}

.is-datetimepicker-widget .is-timepicker-hour, .is-datetimepicker-widget .is-timepicker-minute, .is-datetimepicker-widget .is-timepicker-second {
  font-weight: bold;
  font-size: 1.2em;
}

.is-datetimepicker-widget table td,
.is-datetimepicker-widget table th {
  color: #333;
}

.is-datetimepicker-widget table th {
  color: #000;
}

.is-datetimepicker-widget table th.is-disabled, .is-datetimepicker-widget table th.is-disabled:hover {
  color: #7e7e7e;
}

.is-datetimepicker-widget table thead tr:first-child th:hover {
  background: #e9e9e9;
}

.is-datetimepicker-widget table td.is-cw {
  font-size: .8em;
  color: #7e7e7e;
}

.is-datetimepicker-widget table td.is-day:hover, .is-datetimepicker-widget table td.is-hour:hover, .is-datetimepicker-widget table td.is-minute:hover, .is-datetimepicker-widget table td.is-second:hover {
  background: #e9e9e9;
}

.is-datetimepicker-widget table td.is-old, .is-datetimepicker-widget table td.is-new {
  color: #7e7e7e;
}

.is-datetimepicker-widget table td.is-today:before {
  border-bottom-color: #312e54;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.is-datetimepicker-widget table td.is-active, .is-datetimepicker-widget table td.is-active:hover {
  background-color: #312e54;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.is-datetimepicker-widget table td.is-active.is-today:before {
  border-bottom-color: #fff;
}

.is-datetimepicker-widget table td.is-disabled, .is-datetimepicker-widget table td.is-disabled:hover {
  color: #7e7e7e;
}

.is-datetimepicker-widget table td span:hover {
  background: #e9e9e9;
}

.is-datetimepicker-widget table td span.is-active {
  background-color: #312e54;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.is-datetimepicker-widget table td span.is-old {
  color: #7e7e7e;
}

.is-datetimepicker-widget table td span.is-disabled, .is-datetimepicker-widget table td span.is-disabled:hover {
  color: #7e7e7e;
}

.is-Autocomplete-Suggestions {
  border-color: #312e54;
  background: #fff;
}

.is-Autocomplete-Suggestion {
  font-size: 14px;
  color: #494949;
}

.is-Autocomplete-Suggestion.is-Autocomplete-Suggestion_Selected .is-Icon, .is-Autocomplete-Suggestion:hover .is-Icon {
  color: #494949;
}

.is-Autocomplete-Suggestion.is-Autocomplete-Suggestion_Selected .is-Autocomplete-Suggestion-Item, .is-Autocomplete-Suggestion.is-Autocomplete-Suggestion_Selected .is-Autocomplete-Suggestion-SubNetwork, .is-Autocomplete-Suggestion:hover .is-Autocomplete-Suggestion-Item, .is-Autocomplete-Suggestion:hover .is-Autocomplete-Suggestion-SubNetwork {
  color: #312e54;
}

.is-Autocomplete-Suggestion-H1 {
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.is-Autocomplete-Suggestion-SubNetwork {
  color: #585858;
}

.is-Autocomplete-Suggestion-Item-ActionButton {
  font-size: 11px;
  color: #312e54;
}

.is-TimePreference-Hour-Input {
  border-color: #e1e1e1;
  font-size: 12px;
  color: #494949;
}

.is-TimePreference-Hour-Input[readonly="true"] {
  background: #e9e9e9;
  color: #494949;
}

.is-TimePreference-Hour-Input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #585858;
}

.is-TimePreference-Hour-Input::-moz-placeholder {
  /* Firefox 19+ */
  color: #585858;
}

.is-TimePreference-Hour-Input:-ms-input-placeholder {
  /* IE 10+ */
  color: #585858;
}

.is-TimePreference-Hour-Input:-moz-placeholder {
  /* Firefox 18- */
  color: #585858;
}

.is-TimePreference-Hour-Input::placeholder {
  color: #585858;
}

.is-TimePreference-Hour-Input[type="text"] {
  border-color: #e1e1e1;
  font-size: 12px;
}

.is-DateInput-ShowPickerButton {
  font-size: 12px;
  color: #494949;
}

.is-DateInput-Button:hover, .is-DateInput-Button:active, .is-SelectInput-Button:hover, .is-SelectInput-Button:active {
  background: rgba(0, 0, 0, 0.15);
}

.is-SelectInput-Wrapper_Valid .is-SelectInput {
  border-color: #312e54;
  box-shadow: 0 0 5px 0 #312e54 inset;
}

.is-SelectInput-Wrapper_Error .is-SelectInput {
  border-color: #d9534f;
  box-shadow: 0 0 5px 0 #d9534f inset;
}

.is-SelectInput-Choice-List {
  border-color: #e1e1e1;
  background: #fff;
}

.is-SelectInput-Choice-Item {
  font-size: 12px;
  color: #494949;
}

.is-SelectInput-Choice-Item:hover, .is-SelectInput-Choice-Item :active {
  color: #312e54;
}

.is-SelectInput-Choice-Item.is-SelectInput-Choice-Item_Selected, .is-SelectInput-Choice-Item:focus {
  background: #312e54;
  color: #ffffff;
}

.is-TooltipAlert {
  border-color: #d9534f;
  background: #fff;
}

.is-TooltipAlert:before {
  border-top-color: #d9534f;
}

.is-TooltipAlert:after {
  border-top-color: white;
}

.is-SelectInput-ErrorTooltip-CloseButton {
  color: #333;
}

.is-Combobox-Button {
  border-color: #e1e1e1;
  background: #fff;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #494949;
}

.is-Combobox-InnerValue {
  font-weight: bold;
}

.is-Combobox-Choice-List {
  border-color: #e1e1e1;
  -webkit-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background: #fff;
}

.is-Combobox-Choice-List_Above {
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.is-Combobox-Choice-Item {
  font-size: 12px;
  color: #494949;
}

.is-Combobox-Choice-Item.is-Combobox-Choice-Item_Highlighted, .is-Combobox-Choice-Item:focus {
  background: #444075;
  color: #ffffff;
}

.is-Combobox-Choice-Item.is-Combobox-Choice-Item_Selected {
  background: #312e54;
  color: #ffffff;
}

.is-Badge {
  border-color: #bababa;
  background: #ffffff;
  font-size: 13px;
  color: #333;
}

.is-Badge .is-Icon {
  color: #494949;
}

.is-Badge .is-Badge-NotifIcon {
  background: #fff;
}

.is-Badge .is-Badge-NotifIcon.is-Disruption-State_NONE, .is-Badge .is-Badge-NotifIcon.is-Disruption-State_None {
  color: #312e54;
}

.is-Badge .is-Badge-NotifIcon.is-Disruption-State_INFO, .is-Badge .is-Badge-NotifIcon.is-Disruption-State_Info {
  color: #5bc0de;
}

.is-Badge .is-Badge-NotifIcon.is-Disruption-State_WARNING, .is-Badge .is-Badge-NotifIcon.is-Disruption-State_Warning, .is-Badge .is-Badge-NotifIcon.is-Disruption-State_WARN, .is-Badge .is-Badge-NotifIcon.is-Disruption-State_Warn {
  color: #fbc333;
}

.is-Badge .is-Badge-NotifIcon.is-Disruption-State_CRITICAL, .is-Badge .is-Badge-NotifIcon.is-Disruption-State_Critical {
  color: #d9534f;
}

.is-Badge .is-Badge-Notif {
  background: #585858;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #fff;
}

.is-Badge .is-Badge-Notif_INFO, .is-Badge .is-Badge-Notif_Info {
  background: #5bc0de;
}

.is-Badge .is-Badge-Notif_WARNING, .is-Badge .is-Badge-Notif_Warning, .is-Badge .is-Badge-Notif_WARN, .is-Badge .is-Badge-Notif_Warn {
  background: #fbc333;
}

.is-Badge .is-Badge-Notif_CRITICAL, .is-Badge .is-Badge-Notif_Critical {
  background: #d9534f;
}

.is-Badge-Text {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.is-SimpleBadge {
  font-size: 13px;
}

.is-Overlay {
  background: rgba(0, 0, 0, 0.2);
}

.is-Close {
  color: #000;
}

.is-Close:hover, .is-Close:focus {
  color: #000;
}

.is-Icon-checkmark {
  color: #312e54;
}

.is-Icon-notice {
  color: #fbc333;
}

.is-Disruption-State_NONE, .is-Disruption-State_None,
.is-Disruption-Details-ExpandButton_NONE,
.is-Disruption-Details-ExpandButton_None {
  color: #312e54;
}

.is-Disruption-State_NONE:link, .is-Disruption-State_None:link,
.is-Disruption-Details-ExpandButton_NONE:link,
.is-Disruption-Details-ExpandButton_None:link {
  color: #312e54;
}

.is-Disruption-State_INFO, .is-Disruption-State_Info,
.is-Disruption-Details-ExpandButton_INFO,
.is-Disruption-Details-ExpandButton_Info {
  color: #5bc0de;
}

.is-Disruption-State_INFO:link, .is-Disruption-State_Info:link,
.is-Disruption-Details-ExpandButton_INFO:link,
.is-Disruption-Details-ExpandButton_Info:link {
  color: #5bc0de;
}

.is-Disruption-State_WARNING, .is-Disruption-State_Warning, .is-Disruption-State_WARN, .is-Disruption-State_Warn,
.is-Disruption-Details-ExpandButton_WARNING,
.is-Disruption-Details-ExpandButton_Warning,
.is-Disruption-Details-ExpandButton_WARN,
.is-Disruption-Details-ExpandButton_Warn {
  color: #fbc333;
}

.is-Disruption-State_WARNING:link, .is-Disruption-State_Warning:link, .is-Disruption-State_WARN:link, .is-Disruption-State_Warn:link,
.is-Disruption-Details-ExpandButton_WARNING:link,
.is-Disruption-Details-ExpandButton_Warning:link,
.is-Disruption-Details-ExpandButton_WARN:link,
.is-Disruption-Details-ExpandButton_Warn:link {
  color: #fbc333;
}

.is-Disruption-State_CRITICAL, .is-Disruption-State_Critical,
.is-Disruption-Details-ExpandButton_CRITICAL,
.is-Disruption-Details-ExpandButton_Critical {
  color: #d9534f;
}

.is-Disruption-State_CRITICAL:link, .is-Disruption-State_Critical:link,
.is-Disruption-Details-ExpandButton_CRITICAL:link,
.is-Disruption-Details-ExpandButton_Critical:link {
  color: #d9534f;
}

.is-Disruption-Details-Instructions-Item_NONE .is-Icon-notice, .is-Disruption-Details-Instructions-Item_None .is-Icon-notice,
.is-Disruption-Details-ExpandButton_NONE .is-Icon-notice,
.is-Disruption-Details-ExpandButton_None .is-Icon-notice {
  color: #312e54;
}

.is-Disruption-Details-Instructions-Item_INFO .is-Icon-notice, .is-Disruption-Details-Instructions-Item_Info .is-Icon-notice,
.is-Disruption-Details-ExpandButton_INFO .is-Icon-notice,
.is-Disruption-Details-ExpandButton_Info .is-Icon-notice {
  color: #5bc0de;
}

.is-Disruption-Details-Instructions-Item_WARNING .is-Icon-notice, .is-Disruption-Details-Instructions-Item_Warning .is-Icon-notice, .is-Disruption-Details-Instructions-Item_WARN .is-Icon-notice, .is-Disruption-Details-Instructions-Item_Warn .is-Icon-notice,
.is-Disruption-Details-ExpandButton_WARNING .is-Icon-notice,
.is-Disruption-Details-ExpandButton_Warning .is-Icon-notice,
.is-Disruption-Details-ExpandButton_WARN .is-Icon-notice,
.is-Disruption-Details-ExpandButton_Warn .is-Icon-notice {
  color: #fbc333;
}

.is-Disruption-Details-Instructions-Item_CRITICAL .is-Icon-notice, .is-Disruption-Details-Instructions-Item_Critical .is-Icon-notice,
.is-Disruption-Details-ExpandButton_CRITICAL .is-Icon-notice,
.is-Disruption-Details-ExpandButton_Critical .is-Icon-notice {
  color: #d9534f;
}

.is-Button {
  font-size: 14px;
  font-weight: bold;
}

.is-Button_WithLabel .is-Button-Label {
  font-weight: normal;
}

.is-Button_WithLabel .is-Button-Content {
  font-weight: bold;
}

.is-Button_Primary {
  border-color: #272544;
  background: #312e54;
  color: #fff;
}

.is-Button_Primary:link {
  border-color: #272544;
  background: #312e54;
  color: #fff;
}

.is-Button_Primary:hover, .is-Button_Primary:active {
  border-color: #141323;
  background: #1e1c33;
}

.is-Button_Primary:hover:link, .is-Button_Primary:active:link {
  border-color: #141323;
  background: #1e1c33;
}

.is-Button_PrimaryGradient, .is-Button_Search, #is-Journey-AdvancedSearch-Button {
  background-color: #1e1c33;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(175deg, #1e1c33, #444075);
  background-image: -o-linear-gradient(175deg, #1e1c33, #444075);
  background-image: linear-gradient(175deg, #1e1c33, #444075);
  color: #fff;
}

.is-Button_PrimaryGradient:link, .is-Button_Search:link, #is-Journey-AdvancedSearch-Button:link {
  background-color: #1e1c33;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(175deg, #1e1c33, #444075);
  background-image: -o-linear-gradient(175deg, #1e1c33, #444075);
  background-image: linear-gradient(175deg, #1e1c33, #444075);
  color: #fff;
}

.is-Button_PrimaryGradient:hover, .is-Button_Search:hover, #is-Journey-AdvancedSearch-Button:hover, .is-Button_PrimaryGradient:active, .is-Button_Search:active, #is-Journey-AdvancedSearch-Button:active {
  background-color: #141323;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(175deg, #141323, #3b3764);
  background-image: -o-linear-gradient(175deg, #141323, #3b3764);
  background-image: linear-gradient(175deg, #141323, #3b3764);
  color: #ffffff;
}

.is-Button_PrimaryGradient:hover:link, .is-Button_Search:hover:link, #is-Journey-AdvancedSearch-Button:hover:link, .is-Button_PrimaryGradient:active:link, .is-Button_Search:active:link, #is-Journey-AdvancedSearch-Button:active:link {
  background-color: #141323;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(175deg, #141323, #3b3764);
  background-image: -o-linear-gradient(175deg, #141323, #3b3764);
  background-image: linear-gradient(175deg, #141323, #3b3764);
  color: #ffffff;
}

.is-Button_PrimaryLine {
  border-color: #272544;
  background: #fff;
  color: #272544;
}

.is-Button_PrimaryLine:link {
  border-color: #272544;
  background: #fff;
  color: #272544;
}

.is-Button_PrimaryLine:hover, .is-Button_PrimaryLine:active {
  border-color: #141323;
  color: #141323;
}

.is-Button_PrimaryLine:hover:link, .is-Button_PrimaryLine:active:link {
  border-color: #141323;
  color: #141323;
}

.is-Button_Secondary {
  border-color: #d4d4d4;
  background: #ebebeb;
  color: #333;
}

.is-Button_Secondary:link {
  border-color: #d4d4d4;
  background: #ebebeb;
  color: #333;
}

.is-Button_Secondary:hover, .is-Button_Secondary:active {
  border-color: #bbbbbb;
  background: #d2d2d2;
  color: #1a1a1a;
}

.is-Button_Secondary:hover:link, .is-Button_Secondary:active:link {
  border-color: #bbbbbb;
  background: #d2d2d2;
  color: #1a1a1a;
}

.is-Button_SecondaryLine {
  border-color: #d4d4d4;
  background: #fff;
  color: #333;
}

.is-Button_SecondaryLine:link {
  border-color: #d4d4d4;
  background: #fff;
  color: #333;
}

.is-Button_SecondaryLine:hover, .is-Button_SecondaryLine:active {
  border-color: #bbbbbb;
  color: #1a1a1a;
}

.is-Button_SecondaryLine:hover:link, .is-Button_SecondaryLine:active:link {
  border-color: #bbbbbb;
  color: #1a1a1a;
}

.is-Button_Danger {
  border-color: #d43f3a;
  background: #d9534f;
  color: #fff;
}

.is-Button_Danger:link {
  border-color: #d43f3a;
  background: #d9534f;
  color: #fff;
}

.is-Button_Danger:hover, .is-Button_Danger:active {
  border-color: #b52b27;
  background: #c9302c;
  color: #e6e6e6;
}

.is-Button_Danger:hover:link, .is-Button_Danger:active:link {
  border-color: #b52b27;
  background: #c9302c;
  color: #e6e6e6;
}

.is-BadgeButton {
  border-color: #d4d4d4;
  background: #ebebeb;
  font-size: 13px;
  color: #494949;
}

.is-BadgeButton:hover, .is-BadgeButton:focus, .is-BadgeButton:active {
  background: #d2d2d2;
}

.is-CollapseButton {
  font-size: 14px;
  font-weight: bold;
}

.is-CollapseButton:hover, .is-CollapseButton:active {
  background: #ebebeb;
}

.is-CollapseButton-Icon {
  background: #d8d8d8;
}

.is-SwitchButton {
  background: #fff;
}

.is-SwitchButton_Secondary {
  -webkit-box-shadow: inset 0 0 0 1px #e1e1e1;
  box-shadow: inset 0 0 0 1px #e1e1e1;
}

.is-SwitchButton_Secondary .is-SwitchButton-Choice {
  border-left-color: #d4d4d4;
}

.is-SwitchButton_Secondary .is-SwitchButton-Choice.is-active .is-SwitchButton-Choice-Label {
  background: #333;
  font-weight: 900;
  color: #fff;
}

.is-SwitchButton_Secondary .is-SwitchButton-Choice-Label {
  color: #333;
}

.is-SwitchButton_Secondary .is-SwitchButton-Choice-Label:hover, .is-SwitchButton_Secondary .is-SwitchButton-Choice-Label:active {
  background: #ebebeb;
}

.is-SwitchButton-Choice-Label {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.is-Button_Search {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.is-Label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.is-Checkbox-Label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.is-Resettable .is-Resettable-Button {
  color: #e1e1e1;
}

.is-Resettable .is-Resettable-Button:not([href]):not([tabindex]) {
  color: #e1e1e1;
}

.is-Resettable:hover .is-Resettable-Button:hover {
  color: #494949;
}

.is-Input {
  border-color: #e1e1e1;
  font-size: 14px;
}

.is-Input[readonly="true"] {
  background: #e9e9e9;
  color: #494949;
}

.is-Input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #585858;
}

.is-Input::-moz-placeholder {
  /* Firefox 19+ */
  color: #585858;
}

.is-Input:-ms-input-placeholder {
  /* IE 10+ */
  color: #585858;
}

.is-Input:-moz-placeholder {
  /* Firefox 18- */
  color: #585858;
}

.is-Input::placeholder {
  color: #585858;
}

.is-Input[type="text"] {
  border-color: #e1e1e1;
  font-size: 14px;
}

.is-Textarea {
  border-color: #e1e1e1;
}

.is-LabelInInput {
  -webkit-box-shadow: 0 0 0 1px #e1e1e1;
  box-shadow: 0 0 0 1px #e1e1e1;
}

.is-LabelInInput_Focused {
  -webkit-box-shadow: 0 0 0 1px #312e54, inset 0 0 6px 0 rgba(49, 46, 84, 0.5);
  box-shadow: 0 0 0 1px #312e54, inset 0 0 6px 0 rgba(49, 46, 84, 0.5);
}

.is-LabelInInput-LabelWrapper {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.is-LabelInInput-Label {
  font-weight: 700;
}

.is-LabelInInput-Input {
  font-size: 14px;
}

.is-LabelInInput-Input[type="text"] {
  font-size: 14px;
}

.is-LabelInInput-Input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
  color: #585858;
}

.is-LabelInInput-Input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
  color: #585858;
}

.is-LabelInInput-Input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 12px;
  color: #585858;
}

.is-LabelInInput-Input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 12px;
  color: #585858;
}

.is-LabelInInput-Input::placeholder {
  font-size: 12px;
  color: #585858;
}

.is-SwapGroup {
  background: #fff;
}

.is-SwapGroup_WithStage:before {
  border-color: #e1e1e1;
}

.is-Stages .is-Stage-RemoveButton {
  color: #e1e1e1;
}

.is-Stage-RemoveButton:hover, .is-Stage-RemoveButton:active, .is-Stage-RemoveButton:focus {
  color: #434343;
}

.is-SwapGroup-Button {
  border-color: #d4d4d4;
  background: #ebebeb;
  color: #333;
}

.is-SwapGroup-Button:hover, .is-SwapGroup-Button:active, .is-SwapGroup-Button:focus {
  background: #d2d2d2;
}

.is-SwapGroup .is-SwapGroup-Button {
  color: #333;
}

.is-TimePreference-Hour-Button, .is-TimePreference-Date-Button {
  border-color: #d4d4d4;
  background: #fff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #333;
}

.is-TimePreference-Hour-Button .is-Icon, .is-TimePreference-Date-Button .is-Icon {
  color: #312e54;
}

.is-TimePreference-Hour-Button:hover, .is-TimePreference-Hour-Button:active, .is-TimePreference-Hour-Button:focus, .is-TimePreference-Date-Button:hover, .is-TimePreference-Date-Button:active, .is-TimePreference-Date-Button:focus {
  border-color: #d4d4d4;
  background: #fff;
  color: #312e54;
}

.is-POIInfosContainer-ActionsList button, .is-POIInfosContainer-ActionsList a {
  font-weight: bold;
  color: #312e54;
}

.is-POIInfosContainer-ActionsList button:hover, .is-POIInfosContainer-ActionsList button:focus, .is-POIInfosContainer-ActionsList a:hover, .is-POIInfosContainer-ActionsList a:focus {
  color: #000;
}

#is-POIInfosWrapper .is-POIInfosOverlay {
  background-color: rgba(0, 0, 0, 0.2);
}

#is-POIInfosWrapper .is-POIInfosContainer {
  background: #fff;
}

#is-POIInfosWrapper .is-Alternative {
  border-bottom-color: #e8e8e8;
}

#is-POIInfosWrapper .is-Alternative:first-child {
  border-top: #e8e8e8;
}

#is-POIInfosWrapper .is-Alternative.is-Alternative_Selected {
  background-color: #f5f5f5;
}

#is-POIInfosWrapper .is-Alternative-Name {
  font-size: 14px;
  font-weight: bold;
}

#is-POIInfosWrapper .is-Alternative-Detail {
  font-size: 12px;
}

#is-POIInfosWrapper .is-Alternative-Description {
  font-size: 12px;
  color: #7e7e7e;
}

#is-POIInfosWrapper .is-Alternative-Distance {
  font-size: 18px;
  color: #09317e;
  font-weight: bold;
}

#is-POIInfosWrapper .is-Alternative-Detail_RealTime {
  color: #312e54;
  font-size: 12px;
}

.is-Realtime-Label {
  border-color: #e1e1e1;
  background: #fff;
  font-weight: bold;
}

.is-Realtime-Label_CANCELED .is-Icon, .is-Realtime-Label_DIVERTED .is-Icon {
  color: #d9534f;
}

.is-Realtime-Label_REALTIME {
  border-color: #312e54;
  color: #312e54;
}

.is-Realtime-Label_REALTIME .is-Icon {
  color: #312e54;
}

.is-Realtime-Label .is-WaitingTimeValue {
  font-size: 14px;
}

.is-Realtime-Label .is-Unit {
  font-size: 10px;
}

.is-Roadmap-NextDepartures {
  font-size: 12px;
  font-weight: normal;
}

.is-Roadmap-NextDepartures .is-WaitingTimeValue {
  font-weight: bold;
}

.is-Roadmap-NextDepartures .is-Unit {
  font-size: 11px;
}

.is-Features-Tab.is-active .is-Features-Tab-Link {
  color: #312e54;
}

.is-Features-Tab.is-active .is-Features-Tab-Text {
  border-color: #312e54;
}

.is-Features-Tab-Link {
  color: #000;
}

.is-Features-Tab-Text {
  border-bottom-color: #fff;
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: lowercase;
}

.is-Widget-H1 {
  margin: 0 0 10px 0;
  line-height: 22px;
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #312e54;
}

.is-Widget-H2 {
  margin: 0;
  line-height: 20px;
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.is-Widget-H3 {
  margin: 16px 0 6px 0;
  line-height: 22px;
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.is-Widget-H3.is-Widget-H3_WithLatMargins {
  margin-left: 30px;
  margin-right: 30px;
}

.is-Widget-H3-Specification {
  font-family: "Spartan MB", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.is-Widget-H3-Left {
  float: left;
}

.is-Widget-H3-Right {
  float: right;
  padding-left: 20px;
}

.is-Widget-H4 {
  margin: 10px 0 6px 0;
  line-height: 22px;
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.is-AddStage-Button {
  font-size: 14px;
  font-weight: bold;
}

#is-JourneyForm .is-LabelInInput-Input {
  color: #312e54;
}

#is-Journey-AdvancedSearch {
  background: #f5f5f5;
}

.is-AdvancedSearch-Label {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

#is-Journey-HideAdvancedSearchButton {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #333;
}

#is-Journey-HideAdvancedSearchButton:hover, #is-Journey-HideAdvancedSearchButton:active {
  color: #000;
}

#is-Journey-AdvancedSearch-Button {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.is-Journey-Results-Header {
  background-color: #1e1c33;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(170deg, #1e1c33, #444075);
  background-image: -o-linear-gradient(170deg, #1e1c33, #444075);
  background-image: linear-gradient(170deg, #1e1c33, #444075);
}

.is-Journey-Results-Header * {
  color: #ffffff;
}

.is-Journey-Mode-Tab.is-active .is-Journey-Mode-Tab-Button {
  background: rgba(255, 255, 255, 0.3);
  background: #ffffff;
  color: #24213d;
}

.is-Journey-Mode-Tab.is-active .is-Icon {
  color: #24213d;
}

.is-Journey-Mode-Tab-Link:hover .is-Journey-Mode-Tab-Button, .is-Journey-Mode-Tab-Link:active .is-Journey-Mode-Tab-Button {
  background: rgba(255, 255, 255, 0.3);
}

.is-Journey-Mode-Tab-Button {
  border-color: rgba(255, 255, 255, 0.5);
}

.is-Journey-Mode-Tab-Label {
  font-size: 12px;
  font-weight: normal;
}

.is-Journey-Mode-Tab-Label-Value {
  font-size: 16px;
  font-weight: 900;
}

.is-Journey-Mode-Tab-Label-Value .is-Unit {
  font-size: 14px;
  font-weight: 600;
}

.is-Journey-Roadmap-Header, .is-Disruption-Header {
  background-color: #1e1c33;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(-200deg, #1e1c33, #312e54);
  background-image: -o-linear-gradient(-200deg, #1e1c33, #312e54);
  background-image: linear-gradient(-200deg, #1e1c33, #312e54);
}

.is-Journey-Roadmap-Header *, .is-Disruption-Header * {
  color: #ffffff;
}

.is-Disruptions-Network-Header {
  background-color: #1e1c33;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(-200deg, #1e1c33, #312e54);
  background-image: -o-linear-gradient(-200deg, #1e1c33, #312e54);
  background-image: linear-gradient(-200deg, #1e1c33, #312e54);
}

.is-Disruptions-Network-Header * {
  color: #ffffff;
}

.is-Journey-Roadmap-OptionsButton {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.8);
}

.is-Results-Count {
  font-size: 14px;
}

.is-Journey-H1 {
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.is-Journey-Result {
  border-color: #e8e8e8;
  background: #f5f5f5;
}

.is-Journey-Result-Header-ExpandButton:before {
  border-color: transparent transparent transparent #8c8c8c;
}

.is-Journey-Result-Header-ExpandButton.is-active {
  background: #fff;
}

.is-Result-Modes {
  font-size: 14px;
}

.is-Result-Time {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #434343;
}

.is-Result-Time-Arrival {
  font-weight: bold;
}

.is-wjr-arrival-time {
  font-weight: bold;
}

.is-Result-TotalDuration {
  font-size: 20px;
  font-weight: 900;
  color: #312e54;
}

.is-Result-TotalDuration.is-Result-TotalDuration_EstimatedTime {
  font-size: 16px;
}

.is-Result-TotalDuration .is-Unit {
  font-size: 14px;
  font-weight: normal;
}

.is-Result-WalkingTotalDuration {
  font-size: 12px;
  font-weight: 900;
  color: #434343;
}

.is-Result-WalkingTotalDuration .is-Unit {
  font-weight: 500;
}

.is-Roadmap-Stage.is-Last .is-Stage-Time {
  border-color: transparent;
}

.is-Stage-Time {
  border-right-color: #bababa;
}

.is-Stage-Time-Value {
  font-size: 11px;
  font-weight: bold;
  color: #333;
}

.is-Stage-Time-StopIcon {
  background: #fff;
  border: 2px solid #333;
}

.is-Roadmap-NextDepartures {
  font-size: 12px;
  color: #312e54;
}

.is-Roadmap-NextDepartures .is-WaitingTimeValue {
  font-weight: bold;
}

.is-Roadmap-NextDepartures .is-Unit {
  font-size: 11px;
}

.is-Roadmap-NextDepartures .is-Icon .is-path1:before, .is-Roadmap-NextDepartures .is-Icon .is-path2:before {
  color: #312e54;
}

.is-Stage-Duration-Value {
  font-size: 18px;
  font-weight: 900;
  color: #312e54;
}

.is-Stage-Duration-Value .is-Unit {
  font-weight: normal;
  font-size: 14px;
}

.is-Stage-Content-Label {
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #434343;
}

.is-Stage-Content-Details {
  border-color: #e8e8e8;
  background: #fff;
}

.is-Stage-Details-ExpandButton {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.is-Stage-Details-ExpandButton:link {
  color: #333;
}

.is-Stage-Details-ExpandButton:link:focus {
  color: #333;
}

.is-Stage-Details-ExpandButton:link:focus .is-Stage-Details-Destination {
  color: #312e54;
}

.is-Stage-Details-ExpandButton:link:hover, .is-Stage-Details-ExpandButton:link:active {
  background: #f5f5f5;
  color: #333;
}

.is-Stage-Details-ExpandButton:link:hover .is-Stage-Details-Destination, .is-Stage-Details-ExpandButton:link:active .is-Stage-Details-Destination {
  color: #312e54;
}

.is-Stage-Details-ExpandButton:focus {
  color: #333;
}

.is-Stage-Details-ExpandButton:focus .is-Stage-Details-Destination {
  color: #312e54;
}

.is-Stage-Details-ExpandButton:hover, .is-Stage-Details-ExpandButton:active {
  background: #f5f5f5;
  color: #333;
}

.is-Stage-Details-ExpandButton:hover .is-Stage-Details-Destination, .is-Stage-Details-ExpandButton:active .is-Stage-Details-Destination {
  color: #312e54;
}

.is-Gauge-Description {
  font-size: 12px;
  font-weight: normal;
  color: #312e54;
}

.is-Gauge-Description strong {
  font-size: 14px;
}

.is-Gauge {
  border-color: #e8e8e8;
}

.is-Stage-Details-Header {
  border-bottom-color: #e8e8e8;
}

.is-Stage-Details-Footer {
  border-top-color: #e8e8e8;
  font-weight: normal;
}

.is-Stage-Details-Footer strong {
  font-size: 16px;
  font-weight: bold;
}

.is-Stage-Details-Footer-Option {
  background: #f5f5f5;
  font-weight: bold;
}

.is-Stage-Details-Footer-Option:hover, .is-Stage-Details-Footer-Option:active {
  background: #fff;
  color: #312e54;
}

.is-Stage-Details-Footer-Option:last-child {
  border-left-color: #e8e8e8;
}

.is-Stage-Details-Destination {
  font-size: 12px;
  font-weight: normal;
  color: #312e54;
}

.is-Stage-Instructions-Item {
  border-top-color: #e8e8e8;
  font-size: 12px;
}

.is-Disruption-Details-ExpandButton {
  font-size: 11px;
}

.is-Disruption-Details-Instructions-Item {
  color: #000;
}

.is-Disruption-Details-Instructions-Item a {
  font-weight: 500;
  color: #000;
}

.is-ParkOrStation-Instructions-Footer {
  font-size: 12px;
}

.is-ParkOrStation-Instructions-Footer strong {
  font-size: 16px;
  font-weight: bold;
}

.is-ParkOrStation-Instructions-Footer_AvailablePlaces {
  color: #312e54;
}

.is-ParkOrStation-Instructions-Footer_AvailablePlaces .is-Icon .is-path1:before, .is-ParkOrStation-Instructions-Footer_AvailablePlaces .is-Icon .is-path2:before {
  color: #312e54;
}

.is-Disruption-Details-ExpandButton {
  font-size: 11px;
}

.is-Disruption-Details-ExpandButton .is-Icon {
  font-size: 14px;
}

.is-Disruption-Details-Instructions-Item {
  color: #000;
}

.is-Disruption-Details-Instructions-Item a {
  font-weight: 500;
  color: #000;
}

.is-Disruption-Details-Instructions-Item-H1 {
  font-size: 14px;
}

.is-Disruption-Details-Instructions-Item-Text {
  font-size: 12px;
}

.is-Roadmap-Recap {
  border-top-color: #e8e8e8;
  background: #fff;
  font-size: 12px;
}

.is-RideSharingInfos .is-RideSharingInfos-Seats {
  border-top-color: #e8e8e8;
  border-bottom-color: #e8e8e8;
  font-size: 16px;
  font-weight: bold;
  background-color: #FFF;
}

.is-LocalityLines-Ident, .is-Line-Ident {
  border-color: rgba(0, 0, 0, 0.3);
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-stretch: condensed;
  font-weight: 500;
}

.is-Schedule-H2, .is-StopAreaTimeTables-H1 {
  font-family: "LeagueSpartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.is-ExternalTicketing {
  background-color: #FFF;
}

.is-ExternalTicketing h4 .is-Icon {
  color: #312e54;
}

.is-ExternalTicketing h4 .is-ExternalTicketing-Title {
  font-size: 14px;
}

.is-ExternalTicketing .is-ExternalTicketing-Link {
  font-weight: bold;
}
